listen:
  port: {{ nginx_exporter_host_port }}
  metrics_endpoint: {{ nginx_exporter_metrics_path }}

namespaces:
  {% for server, config in namespaces.items() -%}
    - name: {{ server }} 
    format: {{ format }}
    histogram_buckets: {{ histogram_buckets }}
    source:
      files:
        {{ config.files }}
    metrics_override:
      prefix: ""
    namespace_label: "project_name"
    labels:
      {% for line in config.labels -%}
        {{ line }}
      {% endfor %}

  {%  endfor %}
