listen:
  port: {{ nginx_exporter_host_port }}
  metrics_endpoint: {{ nginx_exporter_metrics_path }}

namespaces:
  {% for server in namespaces -%}
    - name: {{ server }}
    format: {{ format }}
    histogram_buckets: {{ histogram_buckets }}
    source:
      files:
        - {{ namespaces[server].files }}
    labels:
      {% for line in namespaces[server].labels -%}
        {{ line }}
      {%  endfor %}

  {%  endfor %}

